*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans' sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(80px,80px) auto;
    grid-template-rows: 60px auto;
    grid-template-areas:"header header"
                        "menu contenido";
    transition: 0.3s all ease;
}

.contenedor.active{
    grid-template-columns: minmax(300px,18%) auto;
}


/* header */
.header{
    background-color: #233A66;
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos";
}

header .contenedorlogo{
    grid-area: logo;
    display: flex;
    align-items: center;
}

header .contenedorlogo .boton-menu{
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

header .contenedorlogo .boton-menu:hover{
    background: rgb(38, 54, 88);
}

header .contenedorlogo .logo .fa-solid{
    background: rgb(38, 54, 88);
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: #FFD691;
    position: relative;
    top: -4px;
    margin-right: 4px;
}

header .contenedorlogo .logo{
    font-family: "Bebas Neue" cursive;
    font-size: 20px;
    position: relative;
    top: 2px;

}

header .barra{
    grid-area: busqueda;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .barra input{
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: "Open Sans" sans-serif;
}

header .barra button{
    height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    color: #545454;
    background: #f8f8f8;
    padding: 0 25px;
    cursor: pointer;
}

header .barra button:hover{
    background: #f5f5f5;
}

header .botones-header{
    grid-area: iconos;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .botones-header button{
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 100px;
    color: #FFD691;
    margin-right: 20px;
    cursor: pointer;
}

header .botones-header button:hover{
    background: rgb(38, 54, 88);
}

.boton-menu .fas{
    color: white;
}

/* menu lateral */
.menu-lateral{
    background-color: #233A66;
    grid-area: menu;
    overflow: hidden;
}

.menu-lateral a{
    display: block;
    padding: 15px 35px;
    color: white;
    min-width: 1000px;
}

.menu-lateral a:hover{
    background: rgb(38, 54, 88);
}

.menu-lateral a.active{
    background: rgb(38, 54, 88);
    font-weight: bold;
}

.menu-lateral .fa-solid{
    color: #FFD691;
    margin-right: 32px;
    width: 20px;
    text-align: center;

}

.menu-lateral a.active .fa-solid{
    color: #FFD691;
}



/* main */

.tarjeta h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.main{
    background-color: #233A66;
    grid-area: contenido;
    padding: 40px;
    grid-template-columns: repeat(4,1fr);
}

.main .titulo{
    margin-bottom: 20px;
    color: white;
    font-size: 2.5rem;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.tarjeta{
    width: 24%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #f2f2f2;
}

.tarjeta:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.tarjeta img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.tarjeta p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}

.tarjeta h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.tarjeta ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.tarjeta li{
    padding-top: 5px;
}

.tarjeta i{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
    color: #ff9f43;
}

.tarjeta i:hover{
    transform: scale(1.3);
    transition: .6s;
}

.tarjeta button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 20px;
}

.tarjeta .buy{
    background: #FFD691;
}


/* .main .grid-img{
    display: grid;
    grid-gap: 40px 20px;
    grid-template-columns: repeat(4,1fr);

}

.main .grid-img .img{
    width: 100%;
    display: block;
    border-radius: 20px;
}

.main .grid-img .img:hover{
    background: #FFD691;
}


.main .grid-img .img img{
    width: 100%;
} */




/* mediasquery */

@media screen and (max-width:1200px){
    .main .grid-img{
        grid-template-columns: repeat(3,1fr);
    }

    header .contenedorlogo .logo span{
        display: none;
    }

    .header .barra input{
        min-width: 80%;
    }

    .tarjeta{
        width: 25%;
    }
}


@media screen and (max-width:992px){
    .main .grid-img{
        grid-template-columns: repeat(2,1fr);
    }

    .tarjeta{
        width: 35%;
    }
}

@media screen and (max-width:768px){
    .contenedor{
        grid-template-rows: auto;
    }

    .header{
        padding: 20px;
        grid-template-columns:  auto auto;
        justify-content: space-between;
        grid-template-areas:"logo iconos"
                            "busqueda busqueda";
    }

    header .contenedorlogo .logo span{
        display: inline;
    }

    .header .barra input{
        min-width: auto;
        width: 100%;
    }
}

@media screen and (max-width:576px){
    .main .grid-img{
        grid-template-columns: 1fr;
    }

    .tarjeta{
        width: 100%;
    }
}

